body {
             
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: #333;
  }

  .heading {
    padding-top: 15px;
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
  }

  .section-text {
    color: #B22222; 
    font-weight: 500; 
    text-align: center;
    font-size: 1rem;

  }

  .content {
    color: #333;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 0.9rem;
  }

  .text-center {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1vw;
  }

  .button-container {
    display: flex !important;
    justify-content: center !important;
    margin-top: 1vw;
  }

  .accept-button {
    background-color: #4CAF50 !important; 
    color: #fff !important;
    text-decoration: none !important;
 
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    border-radius: 10px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;

  }

  .accept-button:hover {
    background-color: #45a049;
  }