@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hedvig+Letters+Sans&family=Hedvig+Letters+Serif:opsz@12..24&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Schoolbell&family=Slabo+27px&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

button:hover {
  background-color: #ebebeb00 !important;
}

.btn-success {
  background-color: #007bff !important; /* Match with your nav tab color */
  border-color: #007bff !important; /* Match with your nav tab color */
}

.btn-success:hover {
  background-color: #0056b3 !important; /* Darker shade for hover effect */
}

/* Override the default dropdown background */
.dropdown-menu {
}

.dropdown-menu.show {
}

.dropdown-item {
}
/* Override the list group item hover color */
.dropdown-item:hover {
  background-color: #ebebeb !important; /* Match with button hover */
}

.card-header {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between left and right elements */
  align-items: center; /* Center vertically */
  padding-top: 0.5vw !important;
  padding-bottom: 0.5vw !important;
  background-color: #f8f8f8 !important;
}

.nav {
  display: flex; /* Use flex to layout nav items */
  align-items: center;
  /* Match with your text color */
}

.navleft {
  display: flex;
  align-items: center !important;
  align-content: center !important;
  margin-left: 2.5vw !important; /* Match with your text color */
  width: 70% !important;
}

.navleft-p {
  display: flex;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 6vw;
  font-size: 0.9vw;
  font-family: "DM Sans", sans-serif;
  font-weight: 500; /* Medium 500 variant */
  position: relative;
}

.navleft-p::after {
  content: "";
  display: block;
  width: 0.1vw;
  height: 100%;
  background-color: black; /* Adjust the color as needed */
  position: absolute;
  right: -0.6vw; /* Adjust the position as needed */
  top: 0;
}

.resort-logo {
  transition: transform 0.3s ease;
  max-width: 15vw;
  max-height: 2.5vw;
}

.resort-logo:hover {
  transform: scale(1.1);
}

.navleft ul {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  align-items: center !important;
  align-content: center !important;
  gap: 0.2rem 4rem !important;
  width: 100% !important;
  height: 100% !important;
  list-style: none; /* Remove list item dots */
  margin-top: 0.75vw !important;
}

.navright {
  padding-right: 3vw;
  display: flex; /* Use flexbox to align elements side by side */
  align-items: center; /* Align items vertically */
  gap: 10px; /* Space between the greeting and the dropdown */
}

.nav-item {
  align-items: center !important; /* Add some margin on the right side */
  align-content: center !important; /* Add some margin on the right side */
  text-align: center !important;
}

.nav-admin {
  color: rgb(48, 48, 48) !important;
  background-color: #e2e2e2;
  text-decoration: none !important;
  font-weight: 500;
  padding-left: 0.7vw !important;
  padding-right: 0.7vw !important;
  padding-top: 0.3vw !important;
  padding-bottom: 0.5vw !important;
  border-radius: 10px !important;
  font-size: 0.9vw !important;
}

.nav-resort {
  color: inherit !important;
  text-decoration: none !important;
  font-weight: 500;
  padding-left: 0.5vw !important;
  padding-right: 0.5vw !important;
  font-size: 0.9vw !important;
  align-items: center !important; /* Add some margin on the right side */
  align-content: center !important;
}

.nav-resort:hover {
  padding-top: 0.3vw !important;

  padding-left: 0.5vw !important;
  text-decoration: underline !important;
  text-underline-offset: 0.5em;
  text-decoration-thickness: 2px !important;

  color: #757575 !important;
  margin-left: -0vw !important;
}

.user-greeting {
  font-size: 0.8vw !important; /* Adjust font size if necessary */
  font-weight: 500 !important;
  margin-right: 10px; /* Add some margin on the right side */
}

.user-icon {
  margin-right: 0.5vw; /* Adjust the margin as needed */
  font-size: 1.2vw;
}

.dropdown {
  align-items: center !important; /* Add some margin on the right side */
  align-content: center !important;
}

.btn-success {
  display: flex !important;
  background-color: #4f84e7 !important; /* Match with your nav tab color */
  border: none !important; /* Match with your nav tab color */
  padding-top: 0.4vw !important;
  padding-bottom: 0.4vw !important;
  border-radius: 1vw !important;
  align-items: center !important; /* Add some margin on the right side */
  align-content: center !important;
  font-size: 0.9vw !important;
}

.nav-course {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.nav-course:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-thickness: 2px;
  color: #757575;
}

.ForgottenPassDropdown {
  margin-top: 1vw;
  background-color: #f3f3f3;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 10px;
}

.SendForgottenPass {
  padding: 0.5vw;
  font-size: 0.8vw;
  font-weight: 500;
  background-color: #3b9238;
  color: white;
  border: none;
  cursor: pointer;
}

.SendForgottenPass:hover {
  background-color: #297427 !important;
}

.CancelForgottenPass {
  padding: 0.5vw;
  font-size: 0.8vw;
  font-weight: 500;
  background-color: #4f84e7;
  color: white;
  border: none;
  cursor: pointer;
}

.CancelForgottenPass:hover {
  background-color: #3963b3 !important;
}

.ForgottenPassCon {
  display: flex;
  align-items: center;
  align-content: center;
}

.ForgottenPassButton {
  padding: none !important;
  background-color: #ffffff00;
  color: #3b9238;
  font-weight: 600;
  text-decoration: underline;
}

.ForgottenPassButton:hover {
  color: #1f5a1d;
  box-shadow: none !important;
}

.ForgottenPassText {
  margin-bottom: 0vw !important;
}

.ReservationConfirmPage {
  background-color: rgb(240, 240, 240);
  height: 50vw;
}

.error-message {
  color: #ec0000;
  background-color: #ffe6e6;

  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  font-weight: 400;
}

.ZSL-logo {
  width: 7vw;
  height: auto;
}

@media screen and (max-width: 768px) {
  .user-greeting {
    display: none;
  }

  .account-text {
    display: none;
  }

  .user-icon {
    font-size: 4.5vw;
  }

  .btn-success {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #727272 !important; /* Match with your nav tab color */
    border: none !important; /* Match with your nav tab color */
    padding-top: 0vw !important;
    padding-bottom: 0vw !important;
    border-radius: 0vw !important;
    font-size: 2vw !important;
  }

  .btn-success:hover {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #8f8f8f !important; /* Darker shade for hover effect */
    box-shadow: none !important;
  }

  .ZSL-logo {
    display: none;
  }

  .navleft-p {
    margin-left: 1vw;
    font-size: 1.8vw;
  }

  .resort-logo {
    transition: transform 0.3s ease;
    max-width: 15vw;
    max-height: 4vw;
  }

  .nav-item {
  }
}
